/* npm i bootstrap@5.3.0-alpha1 */
.itemDesign {
    width: 320px;
    height: 415px;
}

#itemDesign-img {
    height: auto;
    max-height: 250px;
    width: auto;
    max-width: fit-content;
    object-fit: scale-down;
}

.container {
    display: flex;
    gap: 0px;
    justify-content: space-between;
    flex-wrap: wrap;

}